Package: com.collab.proswitcher
Depends: mobilesubstrate (>= 0.9.3087), preferenceloader (>= 2.0.2), libactivator (>= 1.3.2), backgrounder (>= svn.r461)
Provides: proswitcher
Conflicts: com.aaronash.Multifl0w, firmware (>= 4.0)
Replaces: com.aaronash.Multifl0w
Name: ProSwitcher
Version: 1.2~alpha~1
Priority: optional
Architecture: iphoneos-arm
Description: ALPHA! GUINEA PIGS REJOICE!
Homepage: http://rpetri.ch/cydia/proswitcher/12alpha/
Depiction: http://rpetri.ch/cydia/proswitcher/12alpha/
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: chpwn and rpetrich <proswitcher@xuzz.net>
Sponsor: thebigboss.org <http://thebigboss.org>
Section: System
dev: rpetrich
