Package: com.collab.proswitcher
Priority: optional
Section: System
Architecture: iphoneos-arm
Version: 0.7.3
Description: Palm Pre-styled application switcher
Name: ProSwitcher
Depends: mobilesubstrate, preferenceloader (>= 1.1), libactivator (>= 0.9.1)
Provides: proswitcher
Conflicts: com.aaronash.Multifl0w
Replaces: com.aaronash.Multifl0w
Author: rpetrich and chpwn
Depiction: http://booleanmagic.com/cydia/proswitcher/
