Package: com.collab.proswitcher
Depends: mobilesubstrate, preferenceloader (>= 1.1), libactivator (>= 1.1.0), backgrounder
Provides: proswitcher
Conflicts: com.aaronash.Multifl0w
Replaces: com.aaronash.Multifl0w
Name: ProSwitcher
Version: 1.1
Priority: optional
Architecture: iphoneos-arm
Description: Palm Pre-styled application switcher
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=proswitcherData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=proswitcherData
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: chpwn and rpetrich <proswitcher@xuzz.net>
Sponsor: thebigboss.org <http://thebigboss.org>
Section: System
Installed-Size: 142
dev: rpetrich
